{% extends "base.html"%}
{% block title %} Inicia Sesion {% endblock %}
{% load static %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <!----------------------- Login Container -------------------------->
       <div class="row border rounded-5 p-3 bg-white shadow box-area">
    <!--------------------------- Left Box ----------------------------->
       <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box" style="background: #103cbe;">
           <div class="featured-image mb-3">
            <img src="{% static 'tiendita/img/registro.png'%}" class="img-fluid" style="width: 250px;">
           </div>
           <p class="text-white fs-2" style="font-family: 'Courier New', Courier, monospace; font-weight: 600;">Registrate</p>
           <small class="text-white text-wrap text-center" style="width: 17rem;font-family: 'Courier New', Courier, monospace;"> Para conocer mas de AgriStore.</small>
       </div> 
    <!-------------------- ------ Right Box ---------------------------->
        
       <div class="col-md-6 right-box">
          <div class="row align-items-center">
                <div class="header-text mb-4">
                    <h3 class="mb-2">Crea Tu Cuenta</h3>
                    <p class="mb-4"> Es gratis y te demoraras solo unos minutos</p>
                </div>
                <form action="." method="post" class="account-form p-4 rounded col-lg-10 mx-auto">
                    {% csrf_token %}
                    
                    
                
                    {% if forms.errors %}
                    <p>Corrige los siguientes errores:</p>
                    {% for field in form %}
                        {% if field.errors %}
                        <div class="alert alert-primary">
                            {{ field.label }}: {{ field.errors|striptags }}  
                        </div>
                        {% endif %}
                    {% endfor %}
                    {% endif %}

                    <label>{{ form.user_name.label }}<span class="text-muted small">
                            (Required)</span></label>
                    {{ form.user_name }}
                    <label>{{ form.email.label }}<span class="text-muted small">
                            (Required)</span></label>
                    {{ form.email }}
                    <label>{{ form.password.label }}<span class="text-muted mb-4">
                        (Required)</span></label>
                    {{ form.password }}
                    <label>{{ form.password2.label }}<span class="text-muted small">
                        (Required)</span></label>
                    {{ form.password2 }}
                    <button class="btn btn-primary btn-block py-2 mb-4 mt-5 fw500 w-100" type="submit">Registrate</button>
                    <p class="text-center">
                        <a href="{% url 'account:login' %}">Ya tienes una cuenta?</a>
                    </p>
                </form>
          </div>
       </div> 
      </div>
    </div>
{% endblock %}